.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.align-all {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.outline {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}
.main-box {
  height: 8rem;
}

.roll-score {
  height: 2rem;
}

.turn-score {
  height: 3rem
}

.key {
  height: 3rem;
}

.app-container {
  margin-top: 3rem;
}